*{
    box-sizing: border-box;
    margin: 20px;
    padding: 50px;
}

body{
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img{
    width: 400px;
}

.box1{
    background-color: #efa3cc;
}

.box2{
    background-color: #eae4c5;
}

.box3{
    background-color: #ffddd2;
}

.box4{
    background-color: #a962e8;
}

.box5{
    background-color: #0d5c9e;
}

.box6{
    background-color: #f4d3a2;
}

.box7{
    background-color: #e29c37;
}

.box8{
    background-color: #83d839;
}

.box9{
    background-color: #7fe5d8;
}

.box10{
    background-color: #7c34c1;
}

.box11{
    background-color: #d3964c;
}

.box12{
    background-color: #f77819;
}
