@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Overpass+Mono:wght@300..700&family=Rubik+Mono+One&display=swap');

body{
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Courier Prime";
}

.heading{
    font-size: 2.5rem;
    margin-top: 10px;
}

.subheading{
    font-size: 1.2rem;
}

.white{
    font-weight: bold;
    color: white;
}

.date{
    color:white;
}
